h1 {
   position: absolute;
   top: 42vh;
   right: 3vw;
   font-size: 25px
}

h2 {
   position: absolute;
   bottom: 3vh;
   left: 50vw;
   font-size: 25px
}

h3 {
   position: absolute;
   top : 48vh;
   left: 3vw;
   font-size: 25px
}

h4 {
   position: absolute;
   top: 3vh;
   left: 50vw;
   font-size: 25px
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

li {
    position: absolute;
    top: 50vh;
    right: 50vw;
    width: fit-content;
    white-space: nowrap;
    text-align: right;
    transform-origin: top right;
    font-size: 12px
}

li:nth-child(1) {
    transform: rotate(-45deg);
    letter-spacing: 0px;
    word-spacing: 0px;
}

li:nth-child(2) {
   transform: rotate(-42.5deg);
   word-spacing: 0px;
   word-break: keep-all;
}

li:nth-child(3) {
    transform: rotate(-40deg);
    letter-spacing: 0px;
    word-spacing: 0px;
 }

 li:nth-child(4) {
    transform: rotate(-37.5deg);
    letter-spacing: 1px;
    word-spacing: -1px;
 }

 li:nth-child(5) {
    transform: rotate(-35deg);
    letter-spacing: 2px;
    word-spacing: -2px;
 }

 li:nth-child(6) {
    transform: rotate(-32.5deg);
    letter-spacing: 3px;
    word-spacing: -3px;
 }

 li:nth-child(7) {
    transform: rotate(-30deg);
    letter-spacing: 6px;
    word-spacing: -6px;
 }

 li:nth-child(8) {
   transform: rotate(-27.5deg);
   letter-spacing: 8px;
   word-spacing: -8px;
}

li:nth-child(9) {
   transform: rotate(-25deg);
   letter-spacing: 10px;
   word-spacing: -10px;
}

li:nth-child(10) {
   transform: rotate(-22.5deg);
   letter-spacing: 12px;
   word-spacing: -14px;
}

li:nth-child(11) {
   transform: rotate(-20deg);
   letter-spacing: 16px;
   word-spacing: -18px;
}

li:nth-child(12) {
   transform: rotate(-17.5deg);
   letter-spacing: 16px;
   word-spacing: -18px;
}

li:nth-child(13) {
   transform: rotate(-15deg);
   letter-spacing: 14px;
   word-spacing: -16px;
}

li:nth-child(14) {
   transform: rotate(-12.5deg);
   letter-spacing: 0px;
   word-spacing: 0px;
}

li:nth-child(15) {
   transform: rotate(-10deg);
   letter-spacing: 0px;
   word-spacing: 0px;
}

li:nth-child(16) {
   transform: rotate(-7.5deg);
   letter-spacing: 0px;
   word-spacing: 0px;
}

li:nth-child(17) {
   transform: rotate(-5deg);
   letter-spacing: -2px;
   word-spacing: 2px;
}

li:nth-child(18) {
   transform: rotate(-2.5deg);
   letter-spacing: -2px;
   word-spacing: 2px;
}

li:nth-child(19) {
   transform: rotate(0deg);
   letter-spacing: -2px;
   word-spacing: 2px;
}

li:nth-child(20) {
   transform: rotate(2.5deg);
   letter-spacing: -2px;
   word-spacing: 2px;
}

li:nth-child(21) {
   transform: rotate(5deg);
   letter-spacing: -3px;
   word-spacing: 3px;
}

li:nth-child(22) {
   transform: rotate(7.5deg);
   letter-spacing: -4px;
   word-spacing: 4px;
}

li:nth-child(23) {
   transform: rotate(10deg);
   letter-spacing: 5px;
   word-spacing: -5px;
}

li:nth-child(24) {
   transform: rotate(12.5deg);
   letter-spacing: 7px;
   word-spacing: -7px;
}

li:nth-child(25) {
   transform: rotate(15deg);
   letter-spacing: 15px;
   word-spacing: -15px;
}

li:nth-child(26) {
   transform: rotate(17.5deg);
   letter-spacing: 17px;
   word-spacing: -17px;
}

li:nth-child(27) {
   transform: rotate(20deg);
   letter-spacing: -5px;
   word-spacing: 5px;
}

li:nth-child(28) {
   transform: rotate(22.5deg);
   letter-spacing: -7px;
   word-spacing: 7px;
}

li:nth-child(29) {
   transform: rotate(25deg);
   letter-spacing: 15px;
   word-spacing: -15px;
}

li:nth-child(30) {
   transform: rotate(27.5deg);
   letter-spacing: 12px;
   word-spacing: -12px;
}

li:nth-child(31) {
   transform: rotate(30deg);
   letter-spacing: 0px;
   word-spacing: 0px;
}